{
  "comments": false,
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "8.10"
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    "source-map-support"
  ],
  "ignore": [
    "dist",
    ".webpack"
  ]
}